architecture: molmo
model_path: allenai/Molmo-7B-D-0924
model:
  - torch_dtype: auto
output_db: molmo.db
input_dir: ./data/
prompt: "Describe the color in this image in one word."
modules:
  - model.transformer.blocks.0
  - model.vision_backbone.image_vit.transformer.resblocks.22
